Django==5.2.11
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
django-ratelimit==4.1.0
python-dotenv==1.2.2
gunicorn==25.1.0
pdfminer.six==20250506
pdfplumber==0.11.7
PyMuPDF==1.26.3
pypdf==6.0.0
groq
nltk==3.9.1
psycopg[binary]==3.3.3
dj-database-url==2.3.0